* {
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

:root {
    --back: tan; 
    --butt: white;
    --head: beige;
    --butt-let: black;
}

main {
    min-height: 100vh;
    font-size: 25px;
    padding-top: 50px;
    width: 40%;
    text-align: center;
    margin: auto;
    background-color: var(--head);
}

body{
    background-color: var(--head);
}

.header {
    background-color: var(--back);
    width: 100%;
    padding: 60px;
    color: white;
    font-size: 25px;
}

.footer {
    background-color: var(--back);
    width: 100%;
    padding: 60px;
    
}

.begin {
    line-height: 2;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px;
    background-color: var(--back);
    padding: 10px;
}

.begin h1 {
    margin: 5px;
    font-size: 30px;
}

#start-button {
    font-size: 30px;
    background-color: var(--butt);
    color: black;
    border: none;
    margin: 5px;
    width: 30%;
    border-radius: 20px;
    cursor: pointer;
}

.answerA {
    font-size: 30px;
    background-color: var(--butt);
    color: var(--butt-let);
    border: none;
    margin: 5px;
    width: 70%;
    border-radius: 20px;
    cursor: pointer;
}

.answerB {
    font-size: 30px;
    background-color: var(--butt);
    color: var(--butt-let);
    border: none;
    margin: 5px;
    width: 70%;
    border-radius: 20px;
    cursor: pointer;
}

.answerC {
    font-size: 30px;
    background-color: var(--butt);
    color: var(--butt-let);
    border: none;
    margin: 5px;
    width: 70%;
    border-radius: 20px;
    cursor: pointer;
}

.answerD {
    font-size: 30px;
    background-color: var(--butt);
    color: var(--butt-let);
    border: none;
    margin: 5px;
    width: 70%;
    border-radius: 20px;
    cursor: pointer;
}

#finish {
    font-size: 30px;
    margin: 10px;
}

.hide {
    display: none;
}

.card.timer {
    text-align: center;
    margin: auto;
}

main li {
    list-style-type: none;
}

#quiz {
    background-color: var(--back);
    border-radius: 5px;
    box-shadow: 0 0 10px;
    padding: 10px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 5px;
    margin: 20px;
}

#finish {
    font-size: 30px;
    background-color: var(--butt);
    color: var(--butt-let);
    border: none;
    margin: 5px;
    width: 45%;
    border-radius: 20px;
    cursor: pointer;
    display: none;
}

h3 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

#end-quiz {
    font-size: 40px;
}

#question {
    font-size: 40px;
}

#submitBtn {
    font-size: 30px;
}

#nameInput {
    font-size: 30px;
}